*.DS_Store
packages/contracts/.DS_Store
packages/contracts/devchain/keys
*node_modules
**/yarn-error.log

packages/*/.next
packages/bridge-ui/.next
packages/bridge-ui-v2/.next
packages/deployer/yarn-error.log
packages/contracts/.0x-artifacts
packages/multichain/db
yarn-error.log
contracts/build/
contracts/devchain/keys


packages/**/lib
packages/relayer/logs/
